# ===============================
# Database configuration
# ===============================

DB_NAME=immigration_decision_support

MYSQL_ROOT_PASSWORD=change_me

DB_USER=app_user
DB_PASSWORD=change_me


# ===============================
# Eureka configuration
# ===============================

EUREKA_URL=http://eureka-service:8761/eureka/


# ===============================
# JWT configuration
# ===============================

# Generate your own secret key for production
JWT_SECRET=ChangeThisSecretWalueToYourOwnJwtSecretWhichSizeIsMoreThan256Bits

# Token expiration time in milliseconds
JWT_EXPIRATION=86400000